@model H.EntidadesNegocioEN.PersonaH

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PersonaH</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" hidden />

            <div class="form-group">
            </div>
            <div class="form-group">
                <label asp-for="NombreH" class="control-label"></label>
                <input asp-for="NombreH" class="form-control" />
                <span asp-validation-for="NombreH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoH" class="control-label"></label>
                <input asp-for="ApellidoH" class="form-control" />
                <span asp-validation-for="ApellidoH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimientoH" class="control-label"></label>
                <input asp-for="FechaNacimientoH" class="form-control" />
                <span asp-validation-for="FechaNacimientoH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SueldoH" class="control-label"></label>
                <input asp-for="SueldoH" class="form-control" />
                <span asp-validation-for="SueldoH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstatusH" class="control-label"></label>
                <input asp-for="EstatusH" class="form-control" />
                <span asp-validation-for="EstatusH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComentarioH" class="control-label"></label>
                <input asp-for="ComentarioH" class="form-control" />
                <span asp-validation-for="ComentarioH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
